@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}
@layer components {
  .main-container{
    @apply bg-background rounded-[32px] p-12
  }

  .base-btn{
    @apply bg-primary rounded-[12px] py-1.5 w-full text-white
  }

  .arrow-btn{
    @apply p-1.5 bg-primary rounded-[18px]
  }

  .meta-input{
    @apply rounded-[12px] bg-secondary-bg text-secondary-text
  }

  .base-input{
    @apply  px-4 py-[9px] text-[16px] leading-[22px] w-full text-black;
  }
}

*{
  box-sizing: border-box;
}